/* SPECIALS */
.specials {
  height: 100%;
  padding: 4rem 2rem;
}

.specials-header {
  display: grid;
  place-items: center;
}

.specials-title {
  margin-bottom: 2rem;
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 60px;
  line-height: 64px;
  color: #495e57;
  text-align: center;
}

.specials-name {
  font-family: 'Markazi Text', serif;
  font-weight: 500;
  font-size: 28px;
}

.menu-button {
  background-color: #ee9972;
  border: none;
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 24px;
  height: fit-content;
  font-family: 'Markazi Text';
  font-weight: 700;
  color: #495e57;
  width: 200px;
  height: 50px;
}

.menu-button:hover {
  background-color: #fbdabb;
  transition: ease-in-out 0.2s;
  border: #ee9972 solid 2px;
}

.menu-button:active {
  background-color: #ee9972;
  transition: ease-in-out 0.2s;
  transform: scale(0.95);
}

.specials-delivery-icon {
  font-size: 24px;
}

@media (min-width: 768px) {
  .specials {
    padding: 4rem 4rem;
  }

  .specials-title {
    font-size: 90px;
  }
}

@media (min-width: 1024px) {
  .specials {
    /* height: 100vh; */
    padding: 6rem 6rem;
  }

  .specials-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .specials-name {
    font-size: 28px;
  }
}

@media (min-width: 1440px) {
  .specials {
    padding: 6rem 10rem;
  }

  .specials-name {
    font-size: 34px;
  }

  .specials-delivery-icon {
    font-size: 28px;
  }
}
